table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  tr {
    line-height: 10px;
  }

// .div-table {
//     display: table;         
//     width: 100%;         
//     background-color: #eee;         
//     border: 1px solid #666666;         
//     border-spacing: 1px; /* cellspacing:poor IE support for  this */
//   }
//   .div-table-row {
//     display: table-row;
//     width: auto;
//     clear: both;
//     line-height: 18px;
//   }
//   .div-table-col {
//     float: left; /* fix for  buggy browsers */
//     display: table-column;         
//     width: 45px;         
//     background-color: #ccc;  
//   }