<div>
    <!-- <app-page-header [heading]="'Contact Us'" [icon]="'fa-phone'"></app-page-header> -->
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-3 custom-height">
                <div class="card-body">
                    <app-enquiry [showGrid]="false"></app-enquiry>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-3 custom-height">
                <div class="mt-4 text-center">
                    <h3>Om Industries</h3>
                    <p><b>Mr. Benudhar Biswal</b> (Proprietor)</p>
                    <p><b>Office :</b>&nbsp;Gala No. 1, Krishna Niwas, Safeed Pool Pipe Line Sakinaka,
                    <br/> Andheri East Mumbai - 400072, Maharashtra, India</p>
                    <p><b>Mobile No :</b>&nbsp; +91 9004006622</p>
                    <p><b>Email Id :</b>&nbsp; <span class="email-link">info&#64;omindus.com</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>