.email-link {
    color: blue;
}

p { font-family: inherit; }  
#root { padding: 30px; }  
.register-form { max-width: 350px; margin: auto; } 
.btn-margin-top { margin-top: 15px;}
.margin-left { margin-left: 5px;}
.color-red {
    color: red;
}

.custom-height {
    height: 100%;
}