a {
    cursor: pointer;
    text-decoration: none;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-bullets li {
    margin-left: 20px;
    padding: 5px;
}

.product-header {
    color: #fd710d;
}